In [1]:
import os
os.getcwd()
os.chdir('../src')

In [5]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from d01_data.load_data import load_from_db

In [6]:
POWER_DATA=1
power_df = load_from_db(POWER_DATA, notebook=True)
power_df.set_index("Time", inplace=True)

In [16]:
power_df = power_df.groupby(pd.Grouper(freq='1D')).sum()

In [17]:
power_df

,COAST,EAST,FWEST,NORTH,NCENT,SOUTH,SCENT,WEST,ERCOT
Time,,,,,,,,,
2003-01-01,162127.421558,24452.846164,24583.728465,21726.976714,213527.840882,41341.059968,94165.442173,17375.570148,5.993009e+05
2003-01-02,193551.230817,29922.404101,27789.435676,25808.946287,262187.635411,47246.309478,112171.061859,20665.329156,7.193424e+05
2003-01-03,197413.277982,30229.237125,27982.734727,25012.244498,253672.127193,48739.485715,113438.056721,20060.898633,7.165481e+05
2003-01-04,180351.405138,26274.009486,26314.134219,21549.508228,216919.549743,45660.602004,102235.601495,18206.768022,6.375116e+05
2003-01-05,170847.340530,24642.975690,25528.685399,20812.173588,205870.280583,42012.535231,97080.869345,17855.825521,6.046507e+05
...,...,...,...,...,...,...,...,...,...
2022-12-28,264493.944551,41390.173407,125773.276390,26133.404667,321847.163077,79105.211722,177315.522424,27593.279319,1.063652e+06
2022-12-29,239891.185230,33089.137457,119899.561187,23359.945551,262664.422889,70637.347313,155920.570875,27063.264654,9.325254e+05
2022-12-30,225351.606062,31845.374664,119614.506498,24333.906961,266302.951329,71377.771707,164844.353769,29150.309658,9.328208e+05
2022-12-31,224470.138779,31620.831594,124002.893841,23168.325934,266888.630904,75531.733938,157822.149785,27970.864954,9.314756e+05
2023-01-01,8999.616362,1216.122804,5193.649360,898.505355,10139.198578,2951.500773,5957.229897,1043.484788,3.639931e+04